<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/userQuestion.css">
</head>

<body>
    <div class="row rows" >
        <div class="container ">
            <h2 class="choosequ">Choose your interested field</h2>
            <div>
                <a href="/tech" class="btn btn-info btn-lg">
                    <span class="glyphicon"></span>Information Technology
                </a>
            </div>
            <div>
                <a href="/marketing" class="btn btn-info btn-lg">
                    <span class="glyphicon"></span>Marketing and Sales
                </a>
            </div>
            <div>
                <a href="/social" class="btn btn-info btn-lg">
                    <span class="glyphicon"></span>Social
                </a>
            </div>
            <div>
                <a href="/bussiness" class="btn btn-success btn-lg">
                    <span class="glyphicon"></span>bussiness
                </a>
            </div>
        </div>
    </div>
</body>

</html>